.meetbiom-class {
  background-image: url("../../assets/images/Mask\ Group\ 12.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  border-radius: 14px;
  overflow: hidden;
  margin-top: 9% !important;
  z-index: 1;
  position: relative;
}
.bg-color {
  background-color: aqua !important;
}

.icons_text_padding {
  padding: 0 0 5% 0;
}

.icons_padding {
  padding: 0 0 1% 0;
  width: 12% !important;
  height: 12% !important;
}

.moving-text-div {
  transform: rotate(-90deg) scale(1.3) translateY(-90%);
}
/* 
.moving-text-class {
  font-size: 200px;
  font-weight: 800 !important;
  position: relative;
  animation: move-right 6s infinite linear;
  z-index: -1;
  color: transparent;
  overflow: visible;
} */

@keyframes move-right {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(200px);
  }
}
@media (max-width: 518px) {
  .meetbiom-class {
    background-image: url("../../assets/images/Mask\ Group\ 12.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 65vh;
    border-radius: 14px;
    overflow: hidden;
    margin-top: 150px !important;
  }
}
